@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('HelveticaNeueLTStd-Lt.eot');
    src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('HelveticaNeueLTStd-Lt.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Blk';
    src: url('HelveticaNeueLTStd-Blk.eot');
    src: url('HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Blk.woff') format('woff'),
        url('HelveticaNeueLTStd-Blk.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('HelveticaNeueLTStd-Roman.eot');
    src: url('HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('HelveticaNeueLTStd-Roman.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('HelveticaNeueLTStd-Bd.eot');
    src: url('HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('HelveticaNeueLTStd-Bd.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

