@font-face {
    font-family: "DecimaMono-Regular";
    src: url("decimamono.eot"); /* IE9*/
    src: url("decimamono.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("decimamono.woff2") format("woff2"), /* chrome、firefox */
    url("decimamono.woff") format("woff"), /* chrome、firefox */
    url("decimamono.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("decimamono.svg#DecimaMono-Regular") format("svg"); /* iOS 4.1- */
}
