/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities
 */

   @layer utilities {
    /* Text color utilities */
.text-quaternary {
  color: var(--wp--preset--color--quaternary) !important;
}
.text-quinary {
  color: var(--wp--preset--color--quinary) !important;
}
.text-action {
  color: var(--wp--preset--color--action) !important;
}
.text-ada-action {
  color: var(--wp--preset--color--ada-action) !important;
}
.text-accent {
  color: var(--wp--preset--color--accent) !important;
}
.text-accent-light {
  color: var(--wp--preset--color--accent-light) !important;
}

/* Background color utilities */
.bg-quaternary {
  background-color: var(--wp--preset--color--quaternary) !important;
}
.bg-quinary {
  background-color: var(--wp--preset--color--quinary) !important;
}
.bg-action {
  background-color: var(--wp--preset--color--action) !important;
}
.bg-ada-action {
  background-color: var(--wp--preset--color--ada-action) !important;
}
.bg-accent {
  background-color: var(--wp--preset--color--accent) !important;
}
.bg-accent-light {
  background-color: var(--wp--preset--color--accent-light) !important;
}

/* Border color utilities */
.border-quaternary {
  border-color: var(--wp--preset--color--quaternary) !important;
}
.border-quinary {
  border-color: var(--wp--preset--color--quinary) !important;
}
.border-action {
  border-color: var(--wp--preset--color--action) !important;
}
.border-ada-action {
  border-color: var(--wp--preset--color--ada-action) !important;
}
.border-accent {
  border-color: var(--wp--preset--color--accent) !important;
}
.border-accent-light {
  border-color: var(--wp--preset--color--accent-light) !important;
}
   }