// -- Variables Global --

// Base Colors

$basePrimary: #333;
$baseSecondary: #1a5d7d;

$baseWhite: #ffffff;
$baseBlack: #000000;
$baseGray: #f4f4f4;
$baseThirdly: #ff7800;
$baseBlue: #1a5d7d;
$darkBlue: #0d2e3e;
$bannerBlue:#0D2F3E;

// Base Fonts
$baseFont: 'Montserrat', sans-serif;
$altFont: 'Montserrat', sans-serif;
$titleFont: 'Alegreya SC', serif;

// Base transitions
$transition: all .3s ease-in-out;

// Base Text Shadow
$shadowText: 2px 2px 0 #020202, 0 0 57px rgba(0, 0, 0, .2);
$shadowBox: 0 0 8px 0 rgba(34, 60, 80, 0.2);

// Layouts Variables
@import "variables/layouts/header";
@import "variables/layouts/breadcrumbs";
@import "variables/layouts/buttons";
@import "variables/layouts/hero";
@import "variables/layouts/content-sidebar-wrap";
@import "variables/layouts/entry-content";
@import "variables/layouts/cta";
@import "variables/layouts/widget-default";
@import "variables/layouts/widget-faqs";
@import "variables/layouts/widget-title-scroll";
@import "variables/layouts/widgets-cta-attorney";
@import "variables/layouts/sidebar-form";
@import "variables/layouts/related-articles";
@import "variables/layouts/pagination";
@import "variables/layouts/address-shortcode";

// Templates Variables
@import "variables/templates/blog-archive-search";
@import "variables/templates/page-faqs";
